@charset "UTF-8";

.footer {
  margin: 0;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.footer {
  margin-top: 40px;
  border-top: 2px solid #efefef;
  text-align: center;
  padding-top: 30px;
  color: hsl(357, 12%, 42%);
  padding-bottom: 20px;
}

.footer__sitemap {
  margin-bottom: 14px;
}

.footer__sitemap > a {
  color: hsl(357, 12%, 42%);
  font-size: 14px;
  margin: 0px 4px;
}

.footer__container {
  max-width: 620px;
  margin: auto;
  padding: 0 12px;
}

.footer__snslinks {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 18px;
}

.footer__snslinks img {
  background-color: #999;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  padding: 6px;
  margin: 0px 4px;
  /* margin-bottom: 14px; */
}

.footer__snslink__ph {
  display: inline-block;
  background-color: #999;
  height: 28px;
  width: 28px;
  border-radius: 100px;
  padding: 6px;
  margin: 0px 4px;
}

.footer__snslink__ph a {
  color: white;
  font-size: 23px;
}

.footer__me {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer__allrights {
  font-size: 12px;
  color: hsl(357, 8%, 60%);
}

.footer__container > a,
.footer__snslink__ph > a {
  text-decoration: none !important;
  color: hsl(357, 74%, 67%);
  font-weight: bold;
}
