<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro Layout</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <main class="container">
      <header class="nav"></header>
      <section class="timer-section"></section>
      <section class="task-section"></section>
    </main>
    <section class="info-section">
      <header class="info-section__title">
        <h1>An online Pomodoro Timer to boost your productivity</h1>
      </header>
      <article class="info-section__article">
        <h2>What is Pomofocus?</h2>
        <p>
          Pomofocus is a customizable pomodoro timer that works on desktop &
          mobile browser. The aim of this app is to help you focus on any task
          you are working on, such as study, writing, or coding. This app is
          inspired by
          <a
            href="https://francescocirillo.com/pages/pomodoro-technique"
            target="_blank"
            >Pomodoro Technique</a
          >
          which is a time management method developed by Francesco Cirillo.
        </p>
      </article>
      <article class="info-section__article">
        <h2>What is Pomodoro Technique?</h2>
        <p>
          The Pomodoro Technique is created by Francesco Cirillo for a more
          productive way to work and study. The technique uses a timer to break
          down work into intervals, traditionally 25 minutes in length,
          separated by short breaks. Each interval is known as a pomodoro, from
          the Italian word for 'tomato', after the tomato-shaped kitchen timer
          that Cirillo used as a university student. -
          <a
            href="https://en.wikipedia.org/wiki/Pomodoro_Technique"
            target="_blank"
            >Wikipedia</a
          >
        </p>
      </article>
      <article class="info-section__article">
        <h2>How to use the Pomodoro Timer?</h2>
        <ol>
          <li><strong>Add tasks </strong>to work on today</li>
          <li>
            <strong>Set estimate pomodoros </strong>(1 = 25min of work) for each
            tasks
          </li>
          <li><strong>Select a task </strong>to work on</li>
          <li>
            <strong>Start timer </strong>and focus on the task for 25 minutes
          </li>
          <li>
            <strong>Take a break </strong>for 5 minutes when the alarm ring
          </li>
          <li><strong>Iterate</strong> 3-5 until you finish the tasks</li>
        </ol>
      </article>
      <article class="info-section__article">
        <h2>Features</h2>
        <ul>
          <li>
            <strong>Responsive design</strong> that works with desktop and
            mobile
          </li>
          <li>
            <strong>Color transition</strong>
            to switch moods between work time and rest time
          </li>
          <li>
            <strong>Audio notification</strong>Audio notification at the end of
            a timer period
          </li>
          <li>
            <strong>Customizable timer</strong>Customizable timer intervals to
            suit your preference
          </li>
        </ul>
      </article>
    </section>
    <footer class="contact footer">
      <div class="footer__sitemap footer__container">
        <a href="/">HOME</a>
        <a href="/privacy">PRIVACY</a>
        <a href="dlaehdgns12@gmail.com">CONTACT</a>
      </div>
      <div class="footer__snslinks footer__container">
        <a href="#" target="_blank" rel="noopener"
          ><img src="./facebook.png" alt="facebook icon"
        /></a>
        <a href="#" target="_blank" rel="noopener"
          ><img src="./twitter.png" alt="twitter icon"
        /></a>

        <div class="footer__snslink__ph">
          <a href="#" target="_blank" rel="noopener">P</a
          ><!--https://www.producthunt.com/posts/pomofocus-io-->
        </div>
        <!-- <a href="mailto:pomofocus@gmail.com"><img src="/icons/envelope.png" alt="email icon" /></a> -->
      </div>
      <div class="footer__me">
        Clone by
        <a
          href="https://github.com/DaeguDude/jasmine"
          target="_blank"
          rel="noopener"
          >Jasmine</a
        >
      </div>
      <div class="footer__allrights footer__container">
        &copy;Jasmine 2020. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
