.header-section {
    padding: 0px 12px;
    margin: 0px auto;
    width: 644px;
    height: 60px;
    border-bottom: 1px solid #5f494940;
}

.main-header {
    margin: 0 auto;
    width: 620px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 132px;
    padding: 10px 0;
    font-size: 20px;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;

}

.logo img {
    width: 20px;
    margin-right: 4px;
}

.main-navbar {
    height: 32px;
    display: flex;
    align-items: center;
}

.nav-btn {
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    font-size: 13px;
    padding: 8px 12px;
    min-width: 70px;
    border: none;
    color: white;
    height: 100%;
}

.mini-icon {
    width: 16px;
}

.nav-btn div {
    font-size: 13px;
    margin-left: 4px;
}

.profile-area {
    display: relative;
    right: 0px;
}

#profile-btn {
    width: 32px;
    margin-left: 8px;
    padding: 0px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    font-size: 13px;
    border: none;
    color: white;
    height: 100%;
    min-width: 0;
}

#profile-btn img {
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

.dropdown-container {
    border-radius: 4px;
    padding: 4px 0px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
    display: none;
    pointer-events: none;
    position: absolute;
    background-color: white;
    transform: translateY(10px) translateX(-112px);
    width: 200px;
}

.dropdown-show {
    display: block;
    pointer-events: auto;
}


.dropdown-list {
      color: rgb(79, 43, 65);
      display: flex;
      align-items: center;
      padding: 10px 16px;
      cursor: pointer;
      pointer-events: auto;
}

.dropdown-list div {
    font-size: 14px;
    font-weight: 300;
}
/* 
.dropdown-list :hover {
    background-color: rgb(240, 238, 238);
} */

.dropdown-icon {
      opacity: 0.8;
      width: 14px;
      margin-right: 8px;
      color: rgb(79, 43, 45);
      font-size: 14px;
      cursor: pointer;
      pointer-events: auto;
}

