@charset "UTF-8";

#autoStart__checkBox + label {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
  border-radius: 10px;
  background-color: #666;
  /*
    vertical-align: top;
    overflow: hidden;
    color: transparent;
*/
}

#autoStart__checkBox + label:after {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
}

#autoStart__checkBox:checked + label {
  background-color: #62a7ee;
}

#autoStart__checkBox:checked + label:after {
  left: auto;
  right: 1px;
}

#autoStart__checkBox {
  position: absolute;
  /*
    overflow:hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
*/
  opacity: 0;
}

/* 겹치는 부분 */
.time__input #autoStart__checkBox .volume__range .longBreakInterval__number {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  font: 400 13.3333px Arial;
}

.modal-content {
  color: rgb(34, 34, 34);
  border-radius: 8px;
  background-color: white;
  position: relative;
  max-width: 400px;
  width: 95%;
  z-index: 2147483647;
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  margin: auto;
  transition: all 0.2s ease-in 0s;
  transform: translateY(20px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  overflow: hidden;
  display: block;
}

.padding-area {
  padding: 20px 20px 0px;
}

.setting__remove-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
  width: 17px;
  opacity: 0.3;
  z-index: 2147483647;
}

.setting__header {
  font-size: 16px;
  color: rgb(187, 187, 187);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.setting__items {
  border-top: 1px solid rgba(182, 165, 166, 0.2);
  padding: 20px 0px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.title_span {
  color: rgb(85, 85, 85);
  font-weight: bold;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.time__label {
  display: block;
  font-size: 14px;
  color: rgb(187, 187, 187);
  font-weight: bold;
  margin-bottom: 4px;
}

.time__input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
}

.time__items {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.time__item {
  width: 98px;
}

.setting__content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.volume__content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 50%;
}

.volume__display {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: rgb(187, 187, 187);
  margin-right: 5px;
}

.volume__range {
  width: 80%;
  background-color: rgb(204, 204, 204);
  appearance: none;
  border-radius: 50px;
  height: 7px;
}

.longBreakInterval__number {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  box-sizing: border-box;
  width: 70px;
}
