@font-face {
  font-family: 'ArialRounded';
  font-display: swap;
  src: url('../fonts/Arial-Rounded-MT-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ArialRounded';
  font-display: swap;
  src: url('../fonts/Arial-Rounded-MT-Bold.ttf') format('truetype');
  font-weight: bold;
}


body {
  transition: all ease 1s 0s;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.slow-transition {
  transition: all ease 1s 0s;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
    text-align: center;
}

div > div {
  font-size: 30px;
}


#mode > input[type=button] {
  border: none;
  color: white;
  margin: 0px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  font-weight: 300;
  outline: none;
}

.clickedBtn {
  background: none rgba(0, 0, 0, 0.15) !important;
}


#time > input[type=button] {
  cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
    outline: none;
}

#wrap {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 480px;
}

#time > h1 {
  font-size: 120px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  padding: 0px;
  margin: 0px;
}
